@import 'vars';

div.my-app {
    padding: 2em;
    width: 80%;
    margin: 0 auto;
    
    h1, h2, h3, h4, h5, h6, p, span {
        text-align: center;
    }

    .data-controls {
        text-align: center;
        margin-bottom: 1em;
    }

    .displayed-state {
        width: 70%;
        text-align: center;
        margin: 0 auto; 

        ul { text-align: left; }
    }
}

h1, h2, h3 {
    font-family: $pacifico;
    margin-bottom: 0.5em;
}

h1 { font-size: 5em; }
h2 { font-size: 2em; }

button, input {
    outline: 0;
}